body{
    margin: 0%;
    padding: 0%;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000045;
}
img{
    margin: 1%;
}
.hello{
    background-image: url("https://my.alfred.edu/zoom/_images/foster-lake.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    color: black;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 2rem;         
    font-weight: bold;
    color: white;
    position: re;
    display: flex;
    left: 40px;
    top: 80px;
}
.hello2{
    position: absolute;
    right: 40px;
    gap: 20px;
    display: flex;
    font-size: 14px;
    top: 20px;
}
.hello3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-box input{
    width: 200px;
    height: 40px;       
    border-radius: 8px;
    border: 0;
  
}

footer{
    right: 40px;
    bottom: 20px;
    display: flex;
    position: absolute;
    color: black;
    font-size: larger;
    padding: 5px;
    border: 0px;
    margin: 0%;
    background-color: white;
    border-radius: 10px;
}
.search-box{
    background-color: #fff;
    padding: 8px 15px 8px 15px;
    border: 2px solid #101010;
    border-radius: 6px;
}
.search-box select{
    border: 0;
}
input:focus, select:focus{
    outline: none;
}
button{
    right: 40px;
}
.helloo3{
    display: flex;
    gap: 10px;
}
button{
    width:60px;
    height: 70px;
    font-size: 30px;
    background-color: #E42A2A;
}